Repository citrusframework/citrus-simulator, pull requests merged in 2023-10, with the labels that each got.

#172 ci: bump release build to jdk 17
  .github/workflows/release.yml
Labels: Type: Bug, Prio: High

#171 feat(#166): auditted entities
  simulator-starter/src/main/java/org/citrusframework/simulator/controller/ActivityController.java
  simulator-starter/src/main/java/org/citrusframework/simulator/model/AbstractAuditingEntity.java
  simulator-starter/src/main/java/org/citrusframework/simulator/model/Message.java
  simulator-starter/src/main/java/org/citrusframework/simulator/model/MessageFilter.java
  simulator-starter/src/main/java/org/citrusframework/simulator/model/MessageHeader.java
  simulator-starter/src/main/java/org/citrusframework/simulator/model/ScenarioAction.java
  simulator-starter/src/main/java/org/citrusframework/simulator/model/ScenarioExecution.java
  simulator-starter/src/main/java/org/citrusframework/simulator/model/ScenarioParameter.java
  simulator-starter/src/main/java/org/citrusframework/simulator/repository/ScenarioExecutionRepository.java
  simulator-starter/src/main/java/org/citrusframework/simulator/repository/ScenarioExecutionRepositoryImpl.java
  simulator-starter/src/main/java/org/citrusframework/simulator/service/ActivityService.java
  simulator-starter/src/main/java/org/citrusframework/simulator/service/MessageService.java
  simulator-starter/src/main/java/org/citrusframework/simulator/service/QueryFilterAdapterFactory.java
  simulator-starter/src/test/java/org/citrusframework/simulator/service/MessageRepositoryTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/service/MessageServiceTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/service/ScenarioExecutionRepositoryTest.java
Labels: Type: Enhancement, Type: Feature, TO REVIEW, Prio: Medium, java

#180 simulator starter tests
  simulator-starter/pom.xml
  simulator-starter/src/test/java/org/citrusframework/simulator/dictionary/InboundXmlDataDictionaryTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/dictionary/OutboundXmlDataDictionaryTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/http/HttpRequestAnnotationMatcherTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/http/HttpRequestAnnotationScenarioMapperTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/http/HttpRequestPathScenarioMapperTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/http/HttpScenarioGeneratorTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/http/SimulatorHttpMessageConverterTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/scenario/mapper/ScenarioMappersTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/service/MessageServiceTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/template/TemplateHelperTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/ws/WsdlScenarioGeneratorTest.java
Labels: Type: Maintenance, TO REVIEW, Prio: High, java

#186 feat(#167): add scenario executor thread config property
  simulator-docs/src/main/asciidoc/concepts.adoc
  simulator-starter/src/main/java/org/citrusframework/simulator/config/SimulatorConfigurationProperties.java
  simulator-starter/src/main/java/org/citrusframework/simulator/service/ScenarioExecutionService.java
Labels: READY, Type: Feature, Prio: Medium, java

#187 fix: lazy initialiation of relationships
  simulator-starter/src/main/java/org/citrusframework/simulator/model/Message.java
  simulator-starter/src/main/java/org/citrusframework/simulator/model/ScenarioExecution.java
  simulator-starter/src/main/java/org/citrusframework/simulator/model/TestParameter.java
  simulator-starter/src/main/java/org/citrusframework/simulator/model/TestResult.java
  simulator-starter/src/main/java/org/citrusframework/simulator/repository/MessageHeaderRepository.java
  simulator-starter/src/main/java/org/citrusframework/simulator/repository/MessageRepository.java
  simulator-starter/src/main/java/org/citrusframework/simulator/repository/TestResultRepository.java
  simulator-starter/src/main/java/org/citrusframework/simulator/service/MessageHeaderQueryService.java
  simulator-starter/src/main/java/org/citrusframework/simulator/service/MessageHeaderService.java
  simulator-starter/src/main/java/org/citrusframework/simulator/service/MessageService.java
  simulator-starter/src/main/java/org/citrusframework/simulator/service/TestParameterQueryService.java
  simulator-starter/src/main/java/org/citrusframework/simulator/service/criteria/MessageHeaderCriteria.java
  simulator-starter/src/main/java/org/citrusframework/simulator/service/impl/MessageHeaderServiceImpl.java
  simulator-starter/src/main/java/org/citrusframework/simulator/service/impl/MessageServiceImpl.java
  simulator-starter/src/main/java/org/citrusframework/simulator/service/impl/TestParameterServiceImpl.java
  simulator-starter/src/test/java/org/citrusframework/simulator/repository/MessageHeaderRepositoryIT.java
  simulator-starter/src/test/java/org/citrusframework/simulator/repository/MessageRepositoryIT.java
  simulator-starter/src/test/java/org/citrusframework/simulator/repository/TestResultRepositoryIT.java
  simulator-starter/src/test/java/org/citrusframework/simulator/service/criteria/MessageHeaderCriteriaTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/service/impl/MessageHeaderServiceImplTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/service/impl/MessageServiceImplTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/web/rest/MessageHeaderResourceIT.java
  simulator-starter/src/test/java/org/citrusframework/simulator/web/rest/MessageResourceIT.java
  simulator-starter/src/test/java/org/citrusframework/simulator/web/rest/ScenarioExecutionResourceIT.java
  simulator-starter/src/test/java/org/citrusframework/simulator/web/rest/TestParameterResourceIT.java
  simulator-starter/src/test/java/org/citrusframework/simulator/web/rest/TestResultResourceIT.java
  simulator-ui/.jhipster/Message.json
  simulator-ui/.jhipster/MessageHeader.json
  simulator-ui/.jhipster/ScenarioExecution.json
  simulator-ui/.jhipster/TestParameter.json
  simulator-ui/src/main/webapp/app/core/auth/state-storage.service.spec.ts
  simulator-ui/src/main/webapp/app/core/request/request-util.spec.ts
  simulator-ui/src/main/webapp/app/entities/message-header/detail/message-header-detail.component.html
  simulator-ui/src/main/webapp/app/entities/message-header/list/message-header.component.html
  simulator-ui/src/main/webapp/app/entities/message-header/message-header.model.ts
  simulator-ui/src/main/webapp/app/entities/message-header/message-header.test-samples.ts
  simulator-ui/src/main/webapp/app/entities/message-header/service/message-header.service.spec.ts
  simulator-ui/src/main/webapp/app/entities/message-header/service/message-header.service.ts
  simulator-ui/src/main/webapp/app/layouts/profiles/profile.service.spec.ts
  simulator-ui/src/main/webapp/app/layouts/profiles/profile.service.ts
  simulator-ui/src/main/webapp/i18n/en/messageHeader.json
Labels: Type: Bug, java

#188 citrus 4 0 release
  pom.xml
  simulator-samples/sample-swagger/src/main/java/org/citrusframework/simulator/sample/Simulator.java
  simulator-samples/sample-swagger/src/test/java/org/citrusframework/simulator/SimulatorSwaggerIT.java
  simulator-samples/sample-wsdl/src/main/java/org/citrusframework/simulator/sample/Simulator.java
  simulator-samples/sample-wsdl/src/main/resources/application.properties
  simulator-starter/src/main/java/org/citrusframework/simulator/SimulatorAutoConfiguration.java
  simulator-starter/src/main/java/org/citrusframework/simulator/dictionary/InboundXmlDataDictionary.java
  simulator-starter/src/main/java/org/citrusframework/simulator/dictionary/OutboundXmlDataDictionary.java
  simulator-starter/src/main/java/org/citrusframework/simulator/dictionary/XmlUtils.java
  simulator-starter/src/main/java/org/citrusframework/simulator/http/HttpScenarioGenerator.java
  simulator-starter/src/main/java/org/citrusframework/simulator/scenario/AbstractScenarioStarter.java
  simulator-starter/src/main/java/org/citrusframework/simulator/template/TemplateHelper.java
  simulator-starter/src/main/java/org/citrusframework/simulator/ws/WsdlScenarioGenerator.java
  simulator-starter/src/test/java/org/citrusframework/simulator/http/HttpScenarioGeneratorTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/template/TemplateHelperTest.java
  simulator-starter/src/test/java/org/citrusframework/simulator/ws/WsdlScenarioGeneratorTest.java
Labels: IN PROGRESS, Type: Maintenance, Prio: High, dependencies, java
